p{
	color: sienna;
	text-shadow: 2px 2px 8px #000000;
}
p.serif{font-family:"Times New Roman",Times,serif;
		font-size: 2em;
		font-weight: bold;
}
p.serif:hover{
	color: #ff00ff;
}
body{
		background-color: white;
		margin: 0;
		display: flex;
}

.flex-container{
	/*width: 100px;*/
	display: flex;
	margin-left:10%;
	text-align: center;
	/*background-color: red;*/
	align-items: stretch;
	/*flex-direction: row;*/
	/*justify-content: center;*/

}


ul {
	background-color: #333;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    /*position: fixed;*/
  /*  top: 0px;
    bottom: 0px;
    left: 0px;*/
    /*right: 0px;*/
    height: 100%;
    /*overflow: auto;*/
    flex: 1;

}

li a {
	color: white;
    display: block;
    /*color: #000;*/
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}